# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
build/
dist/

# 虚拟环境
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# 模型 & 输出
model/
output/
data/
results/

# 大模型文件
*.bin
*.safetensors
*.pt
*.pth

# 日志与表格
*.csv
*.log

# 系统
.DS_Store
Thumbs.db
